


.NewsContainer {

  a {
    text-decoration: none;
    margin-left: 10px;
  }

  span {
    width: 20em;
    font-size: 2em;
  }
  
  .NewsHeaderBox {
    margin-left: 2em;
    width: 250px;
  }
}
