.Cars {
  margin: 2em 4em;
  width: auto;
  min-height: 500px;
  border: 3px double #000839;
  // background-color: rgba(137, 152, 87, 0.1);
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 2em;
}