.OfferDescription {
  width: 950px;
  min-height: 70em;
  margin-left: 1em;
  margin-top: 2em;

  .DescriptionText {
    width: 100%;
    min-height: 40em;
    background-color: white;
  }
}
