.LastMinFilters {

  padding-bottom: 2em;
  width: 1300px;
  height: 150px;
  border-bottom: 2px solid grey;
  background-color: rgba(128, 128, 128, 0.11);

  .FlexRow {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  span {
    margin: 0 auto;
  }


}
