.LastMinFilters {
  width: 1300px;
  height: 100px;
  border-bottom: 2px solid grey;
  background-color: rgba(128, 128, 128, 0.11);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;

  svg {
    color: grey;
  }

  .GuestBoxHandlerAngle {
    font-size: 2em;
    margin-left: 0.5em;
  }

  .GuestBoxHandler {
    font: 400 13.3333px Arial;
    color: grey;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      border: 1px solid grey;
    }
  }

  .DateFilters {
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 1em;
    width: 80px;
    height: 36px;

    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      border: 1px solid grey;
    }
  }

  .ClearFiltersBtn {
    cursor: pointer;
  }
}
