$backgroundBtn: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
$backgroundColorBtn: #eeb72b;
$shadowColor: #feb72b;


.InfoPanel {
  width:100%;
  text-align: right;

  ul {
    list-style: none;
    margin-top: 0;
    padding-top: 1em;
    li {
      text-decoration: none;
      display: inline-block;
      margin-right: 1em;
    }
    

  }

  button {
    margin: auto 2em;
    vertical-align: middle;
    width: 10em;
    height: 2.5em;
    box-shadow: inset 0px 0px 15px 3px $shadowColor;
    background: $backgroundBtn;
    background-color: $backgroundColorBtn;
    border-radius: 17px;
    border: 1px solid $backgroundColorBtn;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px $shadowColor;
  }

  button:active {
    position: relative;
    top: 1px;
  }

  .LangSelector {
    width: 2em;
    height: 2em;
    cursor: pointer;
    vertical-align: middle;
  }

  .BorderRight {
    border-right: 1px solid rgb(137, 152, 87);
    padding-right:1em;
  }
}
