$backgroundBtn: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
$backgroundColorBtn: #eeb72b;
$shadowColor: #feb72b;

.InfoPanel {
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 0;
    display: inline-block;

    li {
      text-decoration: none;
      display: inline-block;
      margin-right: 1em;
    }
  }

  .LoginLangBox {
    position: absolute;
    top: 0.5em;
    right: 1em;
  }

  .LangSelector {
    width: 2em;
    height: 2em;
    margin-left: 2em;
    cursor: pointer;
    vertical-align: middle;
  }

  .BorderRight {
    border-right: 1px solid rgb(137, 152, 87);
    padding-right: 1em;
  }
}
