.NavigationBarDesktop {
  text-align: center;
  width: 65%;
  margin: auto auto;
  background-color: #00a8cc;
  border-radius: 1em;
  height: 5em;
  margin-top: 1em;

  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;

    :last-child {
      border-right: none;
    }

    li {
      padding: 1em 2.5em;
      text-decoration: none;
      border-right: 1px solid #000839;

      @media (max-width: 1500px) {
        padding: 1em 1.5em;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.5em;

    &:hover {
      border-bottom: 2px solid #feb72b;
    }
  }

  .MobileMenu {
    display: none;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .NavigationBarDesktop {
    display: none;
  }
}
