.NavigationBar {
  text-align: center;
  width: 65%;
  margin: auto auto;
  background-color: rgba(137, 152, 87, 0.2);
  border-radius: 1em;
  height: 5em;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: auto;

    :last-child {
      border-right: none;
    }

    li {
      display: inline-block;
      margin: 1em 0;
      padding: 1em 2em;
      text-decoration: none;
      border-right: 1px solid white;
    }
  }

  a {
    color:inherit;
    text-decoration: none;
    padding-bottom: 0.5em;

    &:hover {
      border-bottom: 2px solid #feb72b;
    }
  }

}
