.NavigationBar {
  text-align: center;
  width: 65%;
  margin: auto auto;
  background-color: rgba(137, 152, 87, 0.2);
  border-radius: 1em;

}

.NavigationBar ul {
  text-decoration: none;
  padding: 0;
  margin-bottom: 0;
}

.NavigationBar li {
  display: inline-block;
  margin: 2em 1.5em;
}
