.RecommendedOffer {
  margin: 0 1em 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // border-radius: 2em;
  padding: 1em 0 1em 0;

  ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin: 0;

    img {
      width: 2.5em;
      height: 2.5em;
    }

    li {
      margin: 0.5em 0;
      display: inline-block;

      div {
        margin-left: 0;
        width: 100%;
      }

      p {
        margin: 0.5em 0.5em;
        color: #cd0000;
      }

      h2 {
        color: #cd0000;
        margin: 0;
      }

      h3 {
        margin: 0;
        color: #000066;
      }
    }
  }

  div {
    display: inline-block;
    vertical-align: middle;
    margin: auto 1em;
  }

  img {
    width: 100%;
    height: 100%;
    // border-radius: 2em;
  }

  .ImgContainer {
    margin: 0 0.5em;
    height: 200px;
    width: 20em;
    cursor: pointer;
  }

  &:hover {
    background-color: rgba(137, 152, 87, 0.05);
    transition: background-color 0.4s;
  }
}
