.CarsFilter {
  margin: 2% 2%;
  padding-bottom: 2em;
  width: 96%;
  height: 100px;
  border-bottom: 2px solid grey;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    width: 15%;
    margin: 0 1em;

    .customSelect {
      position: relative;
      display: block;
      width: 90%;
      margin: 0 auto;
      border: 1px solid #000839;
      background-color: white;
      z-index: 10;

      select {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
      }

      &:after {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        line-height: 38px;
        content: "\2228";
        text-align: center;
        font-size: 1.5em;
        border-left: 1px solid #000839;
        z-index: -1;
      }
    }
  }

  span {
    transform: translateY(200%);;
    cursor: pointer;
  }
}
