.OffersServices {
    display: flex;
    justify-content:center;
    margin: 4rem 0;
    background-color: rgba(137, 152, 87, 0.1);

    a {
        text-decoration: none;
        color: inherit;
    }
  }
  
  