.DescriptionText {

    .RecommendationContent {
       display: inline-flex;
        align-items: center;
        justify-content: center;
      .RecomendationLogo {
          width: 30%;
          height: 30%;
      }

    }

}