.Underline {
  margin: 5em auto;
}

.Underline > div {
  padding: 2px;
  border-bottom-style: double;
  border-color: #feb72b;
  margin: 3px auto;
}

.UnderlineTop {
  width: 50em;
}

.UnderlineBottom {
  width: 20em;
}
