.ImageModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  background-color: #000000e5;
  overflow-y: hidden;

  .ImageControls {
    position: relative;

    .Arrow {
      position: absolute;
      top: 2vh;
      z-index: 200;
    }

    .Left {
      left: 5vw;
    }

    .Right {
      right: 5vw;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 5vw;
      font-size: 3em;
      color: honeydew;
      text-align: center;
      height: 83vh;
      opacity: 0.7;

      &:hover {
        background-color: rgba(0, 0, 0, 0.336);
        transition: opacity 0.5s;
        opacity: 1;
      }
    }
  }

  .MainImage {
    width: 90vw;
    height: 83vh;
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left:  5vw;
  }

  ul {
    width: 100%;
    margin-top: 0;
    list-style: none;
    overflow-y: hidden;
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    li {
      text-decoration: none;
      width: 10em;
      height: 5em;
      padding: 1em;
      text-align: center;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      button {
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: none;
        cursor: inherit;

        &:disabled {
          svg {
            color: grey;
          }

          &:hover {
            transition: none;
            transform: none;
          }
        }

        svg {
          font-size: 3em;
          color: whitesmoke;
        }

        &:hover {
          transition: transform 0.5s;
          transform: scale(1.2);
        }


      }
    }
  }

  .ClosingBtn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2.5em;
    color: honeydew;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.5s;
      cursor: pointer;
    }
  }
}