@mixin flexboxColumn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
}

.CarRentForm {
  height: 10vh;
  @include flexboxColumn();
  flex-flow: row;
  flex-wrap: wrap;

  p {
    width: 100%;
    font-size: 1.2em;
    padding: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    margin: 1rem 0;
    text-align: center;
  }

  input[type="checkbox"] {
    height: 2em;
    width: 2em;
  }

  input[type="number"] {
    height: 50px;
    font-size: 1.2em;
    text-align: center;
  }

  .PersonalData {
    @include flexboxColumn();
    width: 20%;
  }

  .TermData {
    @include flexboxColumn();
    width: 20%;
    input[type="date"],
    input[type="time"] {
      margin-top: 0;
      margin-bottom: 2em;
    }
  }

  .RentLocation {
    @include flexboxColumn();

    span {
      input {
        margin: 1rem 0;
        height: 56px;
        border-color: grey;
        display: inline-block;
        font-size: 1.2em;
      }
    }
  }

  .AcceptBtn {
    align-self: flex-end;
    margin-top: 2em;
    button {
      margin-bottom: 1em;
      margin-left: 1em;
      width: 6em;
      height: 2.5em;
      background-color: #feb72b;
      font-size: 1.8em;
      color: #f5f5f0;
      cursor: pointer;
      box-shadow: inset 0px 0px 15px 3px #feb72b;
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      border-radius: 17px;
      border: 1px solid #eeb72b;
      color: #ffffff;
      &:hover {
        background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
        background-color: #eeb72b;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}
