.OffersContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(137, 152, 87, 0.1);
  border-radius: 3em;
  border-top-left-radius: 0;
}

.RecommendedHeader {
  background-color: rgba(137, 152, 87, 0.2);
  width: 20%;
  height: 3em;
  margin: 0;
  font-size: 1.3em;
  text-align: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
}

.OffersSection {
  margin: 2em 3rem;
}
