.RecommendedOffersContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(137, 152, 87, 0.1);
  // border-radius: 3em;
  border-top-left-radius: 0;
}

.RecommendedHeader {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 32px;
}

.OffersSection {
  margin: 0em 0 3rem 0;
  padding: 0 0 2em 0;
}
