@mixin fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PopupContainer {
  @include fixed-center();
  width: 70%;
  height: 70%;
  border: 2px solid black;
  color: black;
  background-color: whitesmoke;
  overflow-y: scroll;
  z-index: 100;
  padding: 2em;

  .RejectBtn {
    color: red;
    cursor: pointer;
    float: right;
    font-size: 1.3em;
  }
}
