.SearchContainer {
  margin-top: 3em;
  background-image: url("background3.jpg");
  background-size: cover;
  width: 100%;
  height: 350px;
  text-align: center;
}

.SearchContainer p {
  font-size: 1em;
  color: aliceblue;
  margin: 0.3em;
}

.SearchBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.SearchPanel > div {
  display: inline-block;
  margin: 0.5em 1em;
}

.SearchPanel > span > p {
  font-size: 1em;
  margin: 0;
}

.SearchContainer button {
  vertical-align: middle;
  width: 10em;
  height: 2.5em;
  box-shadow: inset 0px 0px 15px 3px #feb72b;
  background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
  background-color: #eeb72b;
  border-radius: 17px;
  border: 1px solid #eeb72b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #feb72b;
}

.SearchContainer button:hover {
  background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
  background-color: #eeb72b;
}

.SearchContainer button:active {
  position: relative;
  top: 1px;
}
