.SearchContainer {
  background-image: url("background3.jpg");
  background-size: cover;
  width: 100%;
  height: 350px;
  text-align: center;
  // margin-top: 2em;
  //display: inline-block;

  .SearchHeader {
    font-size: 2.2em;
    margin-top: 0;
    position: relative;
    top: 1em;
  }

  p {
    font-size: 1em;
    color: aliceblue;
    margin: 0.3em;
  }

  .GridButton {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-end: span 2;
    margin: auto;
  }

  .SearchButton {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-end: 2;
    grid-row-end: span 2;
    width: 10em;
    height: 3.5em;
    box-shadow: inset 0px 0px 15px 3px #feb72b;
    background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
    background-color: #eeb72b;
    border-radius: 17px;
    border: 1px solid #eeb72b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #feb72b;
    // margin-top:1em;

    &:hover {
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      background-color: #eeb72b;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.SearchPanel {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 1em;
}

.SearchBox {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  width: 1100px;
  margin: auto;

  .DatePickerWrapper {
    margin: auto;
    input {
      height: 30px;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}
