.LastMinuteOffer {
  width: 98%;
  margin: 1em 1%;
  height: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;

  .ImageModal {
    div {
      width: initial;
    }
  }

  .Pricing {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%;
    height: 190px;

    a {
      text-decoration: none;
      color: inherit;
      width: 100%;
      height: 100%;
    }

    button {
      height: 5rem;
      margin-top: 0.3rem;
      box-shadow: inset 0px 0px 15px 3px #feb72b;
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      background-color: #eeb72b;
      border-radius: 17px;
      border: 1px solid #eeb72b;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 2em;
      // padding: 6px 13px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #feb72b;

      &:hover {
        background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
        background-color: #eeb72b;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .ImageZoom {
    width: 240px;
    height: 190px;
    margin: 5px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;

      &:hover {
        cursor: pointer;
        transition: transform 1s;
        transform: scale(1.2);
        overflow: hidden;
      }
    }
  }
}
