.GuestBox {
  width: 13em;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: span 2;

  div {
    width: 10em;
    font-size: 1.1em;
    margin-left: 0;
  }

  span {
    padding: 0.5em 0.5em;
    width: 2em;
  }

  p {
    display: inline-block;
    width: 2em;
    margin: 0.3em;
  }

  svg {
    cursor: pointer;
    font-size: 1.4em;
    color: #feb72b;
  }
}
