.ContactInfoBar {
  background-color: #00a8cc;
  width: 100%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactInfoBar > div {
  margin: 0 auto;
  color: #f5f5f0;
  text-align: center;
}

.ContactInfoBar svg {
  font-size: 3em;
}

.ContactInfoBar p {
  font-size: 1.2em;
}
