.CarOfferDetails {
  margin: 2em;
  padding: 2em;
  min-height: 50em;
  width: auto;
  border: 2px solid #000839;
  border-radius: 2em;
  background-color: rgba(128, 128, 128, 0.11);

  .BrandLogo {
    width: 100px;
    height: 100px;
  }

  //   .Dates {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;

  //     span {
  //       width: 15em;
  //     }
  //   }

  .OfferDetails {
    display: flex;

    input {
      width: 10em;
    }

    .SelectedImg {
      opacity: 1 !important;
    }

    .slideRight {
      transition: transform 0.5s;
      transform: translate3d(-20%, 0px, 0px);
    }

    .PhotoContainer {
      margin: 0;
      width: 60vw;
      height: 42em;

      .MainPhoto {
        width: 100%;
        height: 80%;
        cursor: pointer;
        border: 1px solid #005082;
      }

      .PhotosSlider {
        height: 17%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          padding: 0;
          text-align: center;
          width: 2.5%;
          height: 100%;
          border: none;
          font-size: 130%;
          margin: 0;
          cursor: pointer;
          background-color: inherit;
        }

        .PhotosListDiv {
          width: 1080px;
          height: 96%;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          border-top: 5px solid black;
          border-bottom: 5px solid black;
        }

        ul {
          vertical-align: top;
          list-style: none;
          padding: 0;
          margin: 0 auto;
          min-width: 700%;
          height: 100%;
          display: inline-block;
          z-index: -100;
        }

        li {
          display: inline-block;
          width: 180px;
          height: 100%;
          opacity: 0.6;

          img {
            width: 98%;
            height: 98%;
            padding: 0.1em;
          }

          &:hover {
            opacity: 1;
            cursor: pointer;
          }

          div {
            text-align: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
          }
        }
      }
    }

    .CarDetailsContainer {
      margin-left: 4em;
      width: 30vw;
      border: 1px solid grey;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px solid black;

      table {
        width: 90%;
        font-size: 1.5em;
        margin: 1em 1em;
        border-spacing: 0;
        background-color: #00083909;

        th {
          border: 1px solid grey;
        }

        td {
          border-left: 1px solid grey;
          border-bottom: 1px solid grey;

          &:last-child {
            border-right: 1px solid grey;
          }
        }
      }

      div {
        width: 100%;
        text-align: center;
        margin: 2em 0;

        input {
          margin: 0.5em 1em;
        }
      }
    }

    .PricingDetails {
      margin: 0;

      div {
        width: 45%;
        position: relative;
        left: 50%;
        text-align: right;
        margin: 1em 0;
        padding: 0;
        height: 4vh;
      }

      p {
        font-size: 1.5em;
        color: #cd0000;
        display: inline-block;
        margin: 0 0.5em;
      }

      .SummaryPrice {
        padding-top: 0.7em;
        border-top: 1px solid grey;
      }
    }

    .RentBtn {
      margin-bottom: 1em;
      width: 6em;
      height: 2.5em;
      background-color: #feb72b;
      font-size: 1.8em;
      color: #f5f5f0;
      cursor: pointer;
      box-shadow: inset 0px 0px 15px 3px #feb72b;
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      border-radius: 17px;
      border: 1px solid #eeb72b;
      color: #ffffff;

      &:hover {
        background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
        background-color: #eeb72b;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .RentForm {
    margin-top: 2em;
    width: 100%;
    min-height: 30em;

    .SelectedTab {
      background-color: #eeb72b81;
    }

    .DescriptionTabs {
      width: 340px;
      // height: 4em;
      background-color: white;
      border-bottom: 1px solid grey;
      border-top-left-radius: 3em;
      border-top-right-radius: 3em;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3em;

      .Tab {
        margin: 0.5em 0.5em;
        height: 2em;
        width: 7em;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 15%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #feb72b;
        cursor: pointer;

        &:first-child {
          border-top-left-radius: 1.55em;
        }

        &:last-child {
          border-top-right-radius: 1.55em;
        }
      }
    }

    .DescriptionText {
      width: 100%;
      min-height: 40em;
      background-color: white;
    }
  }

  .SlideBckCenter {
    -webkit-animation: SlideBckCenter 1.85s linear both;
    animation: SlideBckCenter 1.85s linear both;
  }

  /* ----------------------------------------------
       * Generated by Animista on 2020-4-21 13:38:39
       * Licensed under FreeBSD License.
       * See http://animista.net/license for more info. 
       * w: http://animista.net, t: @cssanimista
       * ---------------------------------------------- */

  /**
       * ----------------------------------------
       * animation SlideBckCenter
       * ----------------------------------------
       */
  @-webkit-keyframes SlideBckCenter {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes SlideBckCenter {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      color: red;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
