.CarOfferDetails {
  margin:auto;
  padding:2em 0 ;
  min-height: 50em;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.11);

  .BrandLogo {
    width: 100px;
    height: 100px;
  }

  .OfferDetails {
    display: flex;

    input {
      width: 10em;
    }

    .SelectedImg {
      opacity: 1 !important;
    }

    .slideRight {
      transition: transform 0.5s;
      transform: translate3d(-20%, 0px, 0px);
    }
  }
}
