.DemoAlert {
  padding: 2em;
  width: 430px;
  // height: 200px;
  background-color: #e0e2da;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  color: #3b3a30;

  ul {
    margin-top: 0;
  }
  li {
    margin: 0.5em;
  }

  span {
    cursor: pointer;
    color: red;
    font-size: 1.2em;
  }
}
