.DetailsUserMenu {
  margin: 0 auto;
  width: 300px;
  height: 720px;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.26);
  background-color: rgba(255, 255, 255, 0.6);

  .Dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .DatePickerBox {
      color: grey;
      width: 230px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        margin: 0 0.5em;
      }
    }
  }

  input {
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    color: grey;
    text-align: center;

    &:hover {
      border-color: grey;
    }
  }

  .DatePicker {
    margin: 1em;
    width: 10em;
  }

  h3 {
    padding-top: 2em;
    padding-left: 2em;
  }

  div {
    text-align: center;
  }

  .CustomOptions {
    width: 80%;
    margin: 1em auto;

    input {
      margin: 0.5em 0;
    }
  }
  .PricingDetails {
    margin-left: 50%;
    width: 45%;
    padding: 0.7em;

    span {
      margin-right: 0.8em;
    }

    div {
      text-align: right;
      margin: 0.7em 0;
      height: 20px;
    }

    p {
      font-size: 1.5em;
      color: #cd0000;
      display: inline-block;
      margin: 0 0.5em;
    }

    .SummaryPrice {
      border-top: 1px solid grey;
      padding: 0.3em 0;
    }
  }

  button {
    width: 280px;
    height: 2.5em;
    font-size: 1.5em;
    margin: 20px 10px;
  }
}
