.CarOffer {
  width: 98%;
  margin: 1em 1%;
  height: 200px;
  border: 1px solid #000839;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;

  div {
    text-align: center;
    width: 30%;
  }

  .ImageModal {
    div {
      width: initial;
    }
  }

  table {
    margin: auto;
    width: 75%;
    font-size: 1.2em;
    border-spacing: 1.5em 0.2em;

    tr {
      td {
        margin: 0 1em;
        text-align: start;
      }
    }

    th {
      margin-bottom: 0.5em;
      text-align: center;

      svg {
        font-size: 0.8em;
      }
    }

    @media (max-width: 1500px) {
      width: 100%;
      font-size: 1.1em;
    }
  }

  .FuelConsumptionTable {
    font-size: 1.2em;
  }

  .Pricing {
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: bottom;
    width: 20%;
    height: 100%;

    a {
      text-decoration: none;
      color: inherit;
      width:100%;
      height: 100%;
    }

    button {
      height: 5rem;
      margin-top: 0.3rem;
      box-shadow: inset 0px 0px 15px 3px #feb72b;
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      background-color: #eeb72b;
      border-radius: 17px;
      border: 1px solid #eeb72b;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 2em;
      // padding: 6px 13px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #feb72b;

      &:hover {
        background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
        background-color: #eeb72b;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .VehicleBrand {
    margin-right: 2em;
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000839;
    border-left: 1px solid #000839;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;

    div {
      width: initial;
    }

    .BrandLogo {
      width: 70px;
      height: 50px;
    }
  }

  .ImageZoom {
    width: 240px;
    height: 190px;
    margin: 5px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;

      &:hover {
        cursor: pointer;
        transition: transform 1s;
        transform: scale(1.2);
        overflow: hidden;
      }
    }
  }
}
