.OfferDetails {
  margin: 2em 2em;
  min-height: 50em;
  padding: 2em;
  background-color: rgba(137, 152, 87, 0.1);
  display: flex;
  border-radius: 2em;

  .PhotoContainer {
    margin: 0;
    width: 60vw;
    height: 42em;
    // border: 1px solid black;

    .MainPhoto {
      width: 100%;
      height: 80%;
      background-color: green;
    }

    ul {
      border-top: 1px solid black;
      vertical-align: top;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 95%;
      height: 100%;
      display: inline-block;
    }

    li {
      display: inline-block;
      width: 20%;
      height: 100%;

      img {
        width: 98%;
        height: 98%;
        padding : 0.1em;
      }

      div {
        text-align: center;
        width: 100%;
        height: 100%;
        border: 1px solid black;
      }
    }

    .PhotosSlider {

      height: 17%;

      button {
        padding:0;
        text-align: center;
        width: 2.5%;
        height: 100%;
        border: none;
        font-size: 130%;
        margin: 0;
        cursor: pointer;
        background-color: inherit;
      }
    }
  }

  .DetailsContainer {
    margin-left: 4em;
    width: 30vw;
    border: 1px solid grey;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    h3 {
      padding-top: 2em;
      padding-left: 2em;
    }

    div {
      width: 100%;
      text-align: center;
      margin: 2em 0;

      input {
        margin: 0.5em 1em;
      }
    }

    .customSelect {
      position: relative;
      display: block;
      width: 50%;
      margin: 0 auto;
      border: 1px solid #899857;
      background-color: white;
      z-index: 10;

      select {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
      }

      &:after {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        line-height: 38px;
        content: "\2228";
        text-align: center;
        font-size: 1.5em;
        border-left: 1px solid #899857;
        z-index: -1;
      }
    }
  }

  .PricingDetails {
    margin: 0;

    div {
      width: 14em;
      position: relative;
      left: 50%;
      text-align: right;
      margin: 1em 0;
      padding: 0;
      height: 4vh;
    }

    p {
      padding: 0 1em;
      font-size: 1.5em;
      color: #cd0000;
      display: inline-block;
      margin: 0 0.5em;
    }

    .SummaryPrice {
      padding-top: 0.7em;
      border-top: 1px solid grey;
    }
  }

  .BookBtn {
    width: 5em;
    height: 2.5em;
    position: relative;
    bottom: 4em;
    left: 2em;
    background-color: #feb72b;
    font-size: 1.5em;
    color: #f5f5f0;
    cursor: pointer;
  }
}
