.OfferDetailsContainer {
  margin: auto;
  padding: 2em 0;
  min-height: 50em;
  // background-color: rgba(137, 152, 87, 0.1);
  background-color: rgba(128, 128, 128, 0.11);
  // border-radius: 2em;

  .Dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .DatePickerBox {
      color: grey;
      width: 230px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        margin: 0 0.5em;
      }
    }
  }

  .OfferDetails {
    display: flex;

    input {
      background: #fff;
      border: 1px solid transparent;
      box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      cursor: pointer;
      box-sizing: border-box;
      height: 36px;
      color: grey;
      text-align: center;

      &:hover {
        border-color: grey;
      }
    }

    .DatePicker {
      margin: 1em;
      width: 10em;
    }

    .SelectedImg {
      opacity: 1 !important;
    }

    .slideRight {
      transition: transform 0.5s;
      transform: translate3d(-20%, 0px, 0px);
    }

    .PhotoContainer {
      margin: 0 1%;
      width: 940px;
      height: 45em;

      .MainPhoto {
        width: 100%;
        height: 80%;
        cursor: pointer;
        border: 1px solid #005082;
      }

      .PhotosSlider {
        height: 17%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          padding: 0;
          text-align: center;
          width: 2.5%;
          height: 100%;
          border: none;
          font-size: 130%;
          margin: 0;
          cursor: pointer;
          background-color: inherit;
        }

        .PhotosListDiv {
          width: 1080px;
          height: 96%;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          border-top: 5px solid black;
          border-bottom: 5px solid black;
        }

        ul {
          vertical-align: top;
          list-style: none;
          padding: 0;
          margin: 0 auto;
          min-width: 700%;
          height: 100%;
          display: inline-block;
          z-index: -100;
        }

        li {
          display: inline-block;
          width: 180px;
          height: 100%;
          opacity: 0.6;

          img {
            width: 98%;
            height: 98%;
            padding: 0.1em;
          }

          &:hover {
            opacity: 1;
            cursor: pointer;
          }

          div {
            text-align: center;
            // width: 100%;
            // height: 100%;
            border: 1px solid black;
          }
        }
      }
    }

    .DetailsContainer {
      margin: 0 auto;
      width: 300px;
      border: 1px solid grey;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      position: relative;

      h3 {
        padding-top: 2em;
        padding-left: 2em;
      }

      div {
        // width: 100%;
        text-align: center;
        // margin: 2em 0;
      }

      .CustomOptions {
        width: 80%;
        margin: 1em auto;

        input {
          margin: 0.5em 0;
        }
      }
    }

    .PricingDetails {
      margin: 2em 0;

      div {
        width: 45%;
        position: relative;
        left: 50%;
        text-align: right;
        margin: 1em 0;
        padding: 0;
        height: 4vh;
      }

      p {
        font-size: 1.5em;
        color: #cd0000;
        display: inline-block;
        margin: 0 0.5em;
      }

      .SummaryPrice {
        padding-top: 0.7em;
        border-top: 1px solid grey;
      }
    }

    .BookBtn {
      width: 5em;
      height: 2.5em;
      position: relative;
      bottom: 1em;
      left: 1em;
      background-color: #feb72b;
      font-size: 1.5em;
      color: #f5f5f0;
      cursor: pointer;
      box-shadow: inset 0px 0px 15px 3px #feb72b;
      background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
      border-radius: 17px;
      border: 1px solid #eeb72b;
      color: #ffffff;

      &:hover {
        background: linear-gradient(to bottom, #eeb72b 5%, #eeb72b 100%);
        background-color: #eeb72b;
      }
    }
  }

  .OfferDescription {
    // position: relative;
    // bottom: 11em;
    width: 950px;
    min-height: 70em;
    margin-left: 1em;

    .DescriptionText {
      width: 100%;
      min-height: 40em;
      background-color: white;
    }


      
  }

  .SlideBckCenter {
    -webkit-animation: SlideBckCenter 1.85s linear both;
    animation: SlideBckCenter 1.85s linear both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-4-21 13:38:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation SlideBckCenter
 * ----------------------------------------
 */
  @-webkit-keyframes SlideBckCenter {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes SlideBckCenter {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      color: red;
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
