.OfferDetailsContainer {
  margin: auto;
  padding: 2em 0;
  min-height: 50em;
  background-color: rgba(128, 128, 128, 0.11);

  .OfferDetails {
    display: flex;

    .SelectedImg {
      opacity: 1 !important;
    }

    .slideRight {
      transition: transform 0.5s;
      transform: translate3d(-20%, 0px, 0px);
    }
  }

  
}
